mixin reads()
	+b('section').reads.section( id='reads' data-anchor="read2")
		+e('h2').title read
		+e.content
			+e('article').wrap
				+e('p').text Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.
				+e('a').link._hover(href='javascript:void(0)') read more
			+e('article').wrap
				+e('p').text Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.
				+e('a').link._hover(href='javascript:void(0)') read more
			+e('article').wrap
				+e('p').text Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.
				+e('a').link._hover(href='javascript:void(0)') read more
