include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../icon/icon
include ../page/page
include ../fullpage/fullpage
include ../logo/logo
include ../header/header
include ../scripts/scripts


doctype html
html(lang='ru')
	include ../head/head
	+page
		+fullpage
			+header
		+logo
				block content
	+scripts(['app.min.js'])
