mixin present-gallery()
	+b.present-gallery.section(data-anchor="show3")
		+e('h2').title show pugs 
		+e.content
			+e.part._js-1(style='background: url(assets/images/sleeppug1.jpg); background-size: cover; background-repeat: no-repeat;')
				+e('a').overlay(href='javascript:void(0)')
					+e('span').text puugs more !!!
			+e.part._js-2(style='background: url(assets/images/sleeppug2.jpg); background-size: cover; background-repeat: no-repeat;')
				+e('a').overlay(href='javascript:void(0)')
					+e('span').text puugs more !!!
			+e.part._js-3(style='background: url(assets/images/sleeppug3.jpg); background-size: cover; background-repeat: no-repeat;')
				+e('a').overlay(href='javascript:void(0)')
					+e('span').text puugs more !!!
			+e.part._js-4(style='background: url(assets/images/sleeppug4.jpg); background-size: cover; background-repeat: no-repeat;')
				+e('a').overlay(href='javascript:void(0)')
					+e('span').text puugs more !!!
