mixin header()
	+b('header').header.section(data-anchor="header1")
		+e.content
			+e.intro
				+e('h1').title PUUGS!!!
				+e('p').description
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio vero adipisci ratione minus nesciunt maxime tempora molestias id esse.
			+e.media
				+e('img').pres(src='assets/images/pug1.jpg')