mixin header()
	+b.header&attributes(attributes)
		+e.intro
			+e('h1').title PUUGS!!!
			+e('p').description
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio vero adipisci ratione minus nesciunt maxime tempora molestias id esse.
		+e.media
			+e('img').pres(src='assets/images/pug1.jpg')
		
			
			
			
			
			
			
			
			
			
			//- +e.intro
			//- 	+e('h1').title PUUGS!!!
			//- 	+e('p').description
			//- 		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio vero adipisci ratione minus nesciunt maxime tempora molestias id esse, ex blanditiis dolorum doloribus assumenda provident laborum eveniet quibusdam perspiciatis veritatis ipsum cum eligendi error ducimus beatae.
			//- 	+e.read-more 
			//- +e('img').pres(src='assets/images/pug1.jpg')
				
