mixin menu()
	+b('nav').menu
		+e('ul').list
			+e("li").elem
				+e('a').link._color-green(href='javascript:void(0)') Home
			+e("li").elem
				+e('a').link._color-pink(href='javascript:void(0)') Local
			+e("li").elem
				+e('a').link._color._color-ye(href='javascript:void(0)') About
			+e("li").elem
				+e('a').link._color._border-b._color-or(href='javascript:void(0)') Pugs
